/* Reset and global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align all content vertically and horizontally */
    min-height: 100vh;
    margin: 0;
}

header {
    background: #282c34;
    color: #fff;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem; /* Adjust top padding to account for fixed header */
}

.section {
    padding: 2rem;
    background: #333;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.container {
    color: #fff;
}

.semester-buttons {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    flex-direction: row; /* Ensure buttons are in a row */
}

.semester-button {
    display: inline-block;
    padding: 3rem 6rem; /* Increase padding for larger buttons */
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 12px; /* Increase border radius for rounded corners */
    font-size: 2rem; /* Increase font size for better readability */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 1rem; /* Increase margin for better spacing */
}

.semester-button:hover {
    background-color: #21a1f1;
    transform: translateY(-3px);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    main {
        padding-top: 2rem;
    }

    .section {
        width: 90%;
    }

    .semester-button {
        padding: 2rem 4rem; /* Adjust padding for smaller screens */
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}
